<div class="container-fluid kcontent row">
  <div class="col-md-2 kcontent bg-secondary text-light">
    <!-- ko if : userService.boardService() != null && userService.boardService().board() == null-->
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <h5 class="modal-title">Create new Board</h5>
        </div>
        <div class="modal-body bg-secondary">
          <div class="form-label-group">
            <input data-bind="value:boardName" type="text" id="boardName" class="form-control" placeholder="Board name" required autofocus>
          </div>     
        </div>
        <div class="modal-footer bg-secondary">
            <button data-bind="click:createBoard" type="button" class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
    <!-- /ko-->
    <!-- ko if : ((userService.boardService() != null) && (userService.boardService().board() != null)) -->
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <h5 class="modal-title" data-bind="text: 'Active Board : ' + userService.boardService().board().name" ></h5>
        </div>
        <!-- ko if : (userService.boardService().board().manager.id != userService.currentUser().id) -->
        <div class="modal-body bg-secondary">
          <div class="form-label-group">
            <label data-bind="text:boardStatus[userService.boardService().board().status]"></label>
          </div>
        </div>
        <!-- /ko-->
        <!-- ko if : (userService.boardService().board().manager.id == userService.currentUser().id) -->
        <div class="modal-body bg-secondary">
            <button type="button" class="btn btn-primary btn-sm" data-bind="text:btnStatusDescr(), disable:btnStatusDisabled(), click:btnStatusChng" >Small button</button>
        </div>
        <!-- /ko-->
      </div>
    </div>
    <!-- /ko-->    
    <!-- ko if : ((userService.boardService() != null) && (userService.boardService().board() != null) && (userService.boardService().board().manager.id == userService.currentUser().id)) -->
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <h5 class="modal-title">Board Configuration</h5>
        </div>
        <div class="modal-body bg-secondary">
          <div class="form-label-group">
            <label>What works</label>
            <div class="input-group-prepend">
              <span class="input-group-text">minutes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
              <input data-bind="value:userService.currentTeam().boardConfiguration.whatWorksMinutes"  type="number" class="form-control">
            </div>              
            <div class="input-group-prepend">
              <span class="input-group-text">votes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
              <input data-bind="value:userService.currentTeam().boardConfiguration.whatWorksVotesPerUser" type="number" class="form-control">
            </div>              
          </div>
          <div class="form-label-group">
            <label>What desn't work</label>
            <div class="input-group-prepend">
              <span class="input-group-text">minutes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
              <input data-bind="value:userService.currentTeam().boardConfiguration.whatDontMinutes"  type="number" class="form-control">
            </div>              
            <div class="input-group-prepend">
              <span class="input-group-text">votes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
              <input data-bind="value:userService.currentTeam().boardConfiguration.whatDontVotesPerUser" type="number" class="form-control">
            </div>              
          </div>         
          <div class="form-label-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Show Card User :</span>
                <input data-bind="value:userService.currentTeam().boardConfiguration.showCardUser"  type="checkbox" class="form-control">
            </div>              
          </div>         
        </div>
      </div>
    </div>
    <!-- /ko-->    
    <div class="modal-dialog bg-secondary" role="document">
      <div class="modal-content bg-secondary">
        <div class="modal-header">
          <h5 class="modal-title">Online Users</h5>
        </div>
        <div class="modal-body">
          <!-- ko if : userService.boardService() != null -->
          <ul data-bind="foreach:userService.boardService().connectedUsers">
            <li data-bind="text: $parent.userService.getUserName($data)"></li>
          </ul>
          <!-- /ko-->
        </div>
      </div>  
    </div>
    <div class="modal-dialog bg-secondary" role="document">
      <div class="modal-content bg-secondary">
        <div class="modal-header">
          <h5 class="modal-title">Messages</h5>
        </div>
        <div class="modal-body">
          <!-- ko if : userService.boardService() != null -->
          <ul data-bind="foreach:userService.boardService().serviceMessages">
            <li data-bind="text: $data.message"></li>
          </ul>
          <!-- /ko-->
        </div>
      </div>  
    </div>
  </div>
  <div class="col-md-10 kcontent">
  <!-- ko if : userService.boardService() != null && 
               userService.boardService().board() != null && 
               (userService.boardService().board().status == boardStatus.WhatWorksOpened || 
                userService.boardService().board().status == boardStatus.WhatDontOpened) -->
    <div class="kheader" data-bind="text:boardStatus[userService.boardService().board().status]"></div>
    <div class="container-fluid body-content" style="top:30px;">
      <div class="row">
        <div class="col-md-2">
          <div class="card" data-bind="foreach:personalCards">
              <div class="card-header">
                <textarea style="border: 0px; width: 100%" data-bind="text:message" disabled></textarea>
              </div>
              <!--<div class="card-block">card block</div>-->
          </div>
        </div>
        <div class="col-md-2"  data-bind="foreach:othersCards1">
            <div class="card-header" data-bind="text:message"></div>
        </div>
        <div class="col-md-2"  data-bind="foreach:othersCards2">
            <div class="card-header" data-bind="text:message"></div>
        </div>
        <div class="col-md-2"  data-bind="foreach:othersCards3">
            <div class="card-header" data-bind="text:message"></div>
        </div>
        <div class="col-md-2"  data-bind="foreach:othersCards4">
            <div class="card-header" data-bind="text:message"></div>
        </div>
        <div class="col-md-2"  data-bind="foreach:othersCards5">
            <div class="card-header" data-bind="text:message"></div>
        </div>
      </div>
    </div>
    <div class="kfooter fixed container-fluid-inline">
      <textarea style="height: 90%; width:100%" data-bind="event:{keydown:checkEnter}"></textarea>
    </div>
  <!--/ko-->
  </div>
</div>
