<div class="card-header">
    <!-- ko if: currentBoardStatus() == boardStatus.WhatWorksClosed || currentBoardStatus() == boardStatus.WhatDoesntClosed-->
    <span class="card-icon-container">
        <!-- ko if: card.type == cardType.Bad -->
        <a class="card-icon" title="unexpected" data-bind="click:doUnexpected"><span class= "float-right" data-bind="html:feather.icons['alert-circle'].toSvg({width:14, height:14, color:clrUnexpected()}), event:{mouseover:unexpectedMouseIn, mouseleave:unexpectedMouseOut}"></span></a>
        <a class="card-icon" title="significant" data-bind="click:doSignificant"><span class= "float-right" data-bind="html:feather.icons['star'].toSvg({width:14, height:14, color:clrSignificant()}), event:{mouseover:significantMouseIn, mouseleave:significantMouseOut}"></span></a>
        <a class="card-icon" title="easy" data-bind="click:doEasy"><span class= "float-right" data-bind="html:feather.icons['check-square'].toSvg({width:14, height:14, color:clrEasy()}), event:{mouseover:easyMouseIn, mouseleave:easyMouseOut}"></span></a>
        <!-- /ko -->
        <!-- ko if: card.type == cardType.Good -->
        <a class="card-icon" data-bind="click:doVote"><span class= "float-right" data-bind="html:feather.icons['thumbs-up'].toSvg({width:14, height:14, color:clrVote()}), event:{mouseover:voteMouseIn, mouseleave:voteMouseOut}"></span></a>
        <!-- /ko -->
    </span>
    <!-- /ko -->
    <textarea style="border: 0px; width: 100%" data-bind="text:card.message, attr:{disabled:isDisabled}, event:{blur:cardExit, keydown:checkEnter, pointerdown:doEdit}">
    </textarea>
</div>