<div class='container-fluid' style="padding-left: 0px; padding-right: 0px;" >
    <div class='row' style="margin-right: 0px">
        <div class='col-sm-12' style="padding-right: 0; padding-left: 0: border-radius:0">
                <nav-menu></nav-menu>
        </div>
    </div>
    <div class='row' style="margin-right: 0px">
            <div class='col-sm-2'>
                <board-menu></board-menu>
            </div>
            <div class='col-sm-10 body-content'>           
                <router-outlet></router-outlet>
            </div>
    </div>
</div>
