<div class="knavmenu-block">
    <div class="knavmenu-item">
        <div data-bind="html:feather.icons['menu'].toSvg({'margin-top': '2px', 'margin-left': '2px'})"></div>
    </div>
</div>    
<div class="knavmenu">
    <div class="knavmenu-item">
        <div data-bind="html:feather.icons['menu'].toSvg({'margin-top': '2px', 'margin-left': '2px'})"></div>
    </div>
    <!-- ko if: userService.currentUser()==null -->
    <div class="knavmenu-item">
        <a data-bind="attr:{href: router.link('#login')}"><span data-bind="html:feather.icons['log-in'].toSvg()"></span><span>Login</span></a>
    </div>
    <div class="knavmenu-item">
        <a data-bind="attr:{href: router.link('#register')}"><span data-bind="html:feather.icons['user'].toSvg()"></span><span>Register</span></a>
    </div>
    <!-- /ko -->
    <!-- ko if: userService.currentUser()!=null -->
    <div class="knavmenu-item">
        <a data-bind="attr:{href: router.link('#register')}"><span data-bind="html:feather.icons['user'].toSvg()"></span><span>Hello <!-- ko text: userService.getUserName(userService.currentUser())--><!--/ko--></span></a>
    </div>
    <div class="knavmenu-item">
        <a data-bind="attr:{href: router.link('')}"><span data-bind="html:feather.icons['clipboard'].toSvg()"></span><span>Board</span></a>
    </div>
    <div class="knavmenu-item">
        <a data-bind="attr:{href: router.link('#history')}"><span data-bind="html:feather.icons['layers'].toSvg()"></span><span>Boards history</span></a>
    </div>
    <div class="knavmenu-item" data-bind="click: userService.logout">
        <span data-bind="html:feather.icons['log-out'].toSvg()"></span><span>Logout</span>
    </div>
    <!-- /ko -->
</div>