<html>
<head>
    <title>kRetro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.js"></script>
</head>
<body>    
    <nav-menu params='router: router'></nav-menu>
    <!-- content -->
    <div class="container-fluid body-content">
        <div class="content row">
            <div style="width:100%; height: 100%; margin-top:50px;" data-bind='component: { name: route().page, params: route }'></div>
        </div>
    </div>
</body>
</html>